
<h1>
<%= link_to 'Collections', collectibles_path %>
<%= link_to 'Auctions', auctions_path %>
</h1>

<img src="https://i.ebayimg.com/images/g/Ah0AAOSwKV9cHbWw/s-l1600.jpg" alt="Home image" width="900" height="500">



